<nav class="navbar navbar-default" style="border-radius:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/recipes']">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
        <li routerLinkActive="active"><a routerLinkActive="active" [routerLink]="['/shopping-list']">Shopping List</a></li>
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" rbDropdown>
          <a class="dropdown-toggle">Recipe Management<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onStore()"  style="cursor: pointer">Store Recipes</a></li>
            <li><a (click)="onFetch()" style="cursor: pointer">Retrieve Recipes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

